{% extends "base.html" %}
{% block title %}Edit Plan{% endblock %}

{% block content %}
<h1>Edit Plan</h1>

<h3>{{ plan.name }}</h3>

<form method="POST" action="{{ url_for('delete_plan', plan_id=plan.id) }}"
  onsubmit="return confirm('Are you sure you want to delete this plan? This change is irreversible and you will need to spend time to make an exact copy');">
  <button type="submit" class="btn btn-danger">Delete This Plan</button>
</form>


<form method="POST" action="{{ url_for('add_exercise', plan_id=plan.id) }}">
  <div>
    <input type="text" name="exercise_name" placeholder="Exercise">
    <input type="number" name="exercise_sets" placeholder="Sets" min="0">
    <input type="number" name="exercise_reps" placeholder="Reps" min="0">
    <button type="submit">Add Exercise</button>
  </div>
</form>

  <div>
    <ul class="list-group">
      {% for exercise in plan.exercises %}
        <li class="list-group-item">
            <div>
              <input type="text" name="exercise_name" value="{{ exercise.name }}" readonly>
              <input type="number" name="exercise_sets" value="{{ exercise.sets }}" readonly>
              <input type="number" name="exercise_reps" value="{{ exercise.reps }}" readonly>
              <form method="POST" action="{{ url_for('delete_exercise', exercise_id=exercise.id) }}">
                <button type="submit">Delete</button>
              </form>
            </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</form>

{% endblock %}