{% extends "base.html" %}
{% block title %}Help{% endblock %}

{% block content %}
<h1>Help</h1>

<div>
    <ul>
        <li>
            To add a Plan, click the "Create a Plan" Button.
        </li>
        <li>
            Click "Edit" button to edit an existing Plan.
        </li>
        <li>
            Want to delete your plan? Press the red "Delete This Plan" button.
        </li>
        <li>
            Don't worry about manually saving the plan! Just add or delete exercises and it will do it for you.
        </li>
        <li>
            Always return to Home page or this Help page through the navigation at the top left.
        </li>
    </ul>
</div>

<div>
    <p>Questions? Please contact me at chungand@oregonstate.edu</p>
</div>
{% endblock %}